@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 249, 250, 251;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-800 bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-master-navy;
  }
}

/* Custom Scrollbar for modern look */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-master-blue transition-colors;
}
